.about-us img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: auto;
  min-height: 650px;
}

@media  screen and (max-width: 1023px) {
  .about-us img {
    min-height: 638px;
  }
}

@media  screen and (max-width: 767px) {
  .about-us img {
    min-height: 500px;
  }
}
