.booking {
  background-color: #bde0fb;
  background-image: url("../img/landscape-3-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/landscape-3-desktop@2x.jpg");
  }
}

@media screen and (max-width: 1023px) {
  .booking {
    background-image: url("../img/landscape-3-tablet@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/landscape-3-tablet@2x.jpg");
    }
  }
}

@media screen and (max-width: 767px) {
  .booking {
    background-image: url("../img/landscape-3-mobile@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/landscape-3-mobile@2x.jpg");
    }
  }
}

@media  screen and (max-width: 1210px) {
  .booking {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media  screen and (max-width: 1023px) {
  .booking {
    padding-top: 90px;
    padding-bottom: 50px;
  }
}

@media  screen and (max-width: 767px) {
  .booking {
    padding-top: 60px;
    padding-bottom: 36px;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 17px;
  }
}

.booking__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 163px;
  padding-right: 163px;
}

@media  screen and (max-width: 1210px) {
  .booking__wrapper {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left: 183px;
    padding-right: 183px;
  }
}

@media  screen and (max-width: 1023px) {
  .booking__wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

@media  screen and (max-width: 767px) {
  .booking__wrapper {
    padding-bottom: 48px;
  }
}

.booking__wrapper-text {
  display: flex;
  flex-direction: column;
  padding-top: 165px;
  padding-right: 70px;
}

@media  screen and (max-width: 1360px) {
  .booking__wrapper-text {
    padding-top: 100px;
  }
}

@media  screen and (max-width: 1210px) {
  .booking__wrapper-text {
    align-items: center;
    padding-top: 0;
    padding-right: 0;
  }
}

@media  screen and (max-width: 767px) {
  .booking__wrapper-text {
    max-width: 270px;
    text-align: center;
  }
}


@media  screen and (max-width: 1210px) {
  .booking__wrapper {
    padding-top: 0;
  }
}

.booking__heading h2 {
  margin: 0;
  padding-bottom: 7px;

  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  color: #011C40;
}

@media  screen and (max-width: 1210px) {
  .booking__heading h2 {
    padding-bottom: 25px;
    font-size: 34px;
    line-height: 51px;
  }
}

@media  screen and (max-width: 1023px) {
  .booking__heading h2 {
    padding-bottom: 3px;
    font-size: 34px;
    line-height: 51px;
  }
}

@media  screen and (max-width: 1023px) {
  .booking__description {
    max-width: 355px;
    text-align: center;
  }
}

@media  screen and (max-width: 767px) {
  .booking__heading h2 {
    padding-bottom: 12px;
    font-size: 24px;
    line-height: 31px;
  }
}

.booking__description p {
  max-width: 352px;
  margin: 0;


  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #011C40;
}

@media  screen and (max-width: 1210px) {
  .booking__description p {
    padding-bottom: 60px;
    padding-right: 0;
  }
}

@media  screen and (max-width: 1023px) {
  .booking__description p {
    padding-bottom: 51px;
  }
}

@media  screen and (max-width: 767px) {
  .booking__description p {
    padding-bottom: 34px;
    font-size: 16px;
    line-height: 22px;
  }
}

.booking__wrapper-form {
  padding-left: 60px;
}

@media  screen and (max-width: 1210px) {
  .booking__wrapper-form {
    padding-left: 0;
    padding-right: 0;
  }
}

.form__button button {
  margin: 0;
  padding-top: 10px;
  padding-right: 10px;
  display: block;
}
