.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  //padding-top: 11px;
  //padding-bottom: 7px;

  background-color: #F9FBFD;
  cursor: pointer;
}

/* .button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.5;
}
 */

.button__link {
  display: flex;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #011C40;
  padding-top: 11px;
  padding-bottom: 10px;

  text-decoration: none;
}

.button__link:hover {
  opacity: 0.8;
}

.button__link:active {
  opacity: 0.5;
}
