.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  background-color: #F9FBFD;
  cursor: pointer;
}

.button__link {
  display: flex;
  min-width: 210px;
  padding-top: 10px;
  padding-bottom: 7px;
  padding-right: 46px;
  padding-left: 46px;

  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #011C40;

  text-decoration: none;
}

@media  screen and (max-width: 1023px) {
  .button__link {
    min-width: 239px;
    padding-top: 11px;
    padding-bottom: 8px;
    padding-right: 61px;
    padding-left: 61px;
  }
}

@media  screen and (max-width: 767px) {
  .button__link {
    min-width: 220px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.button__link:hover {
  opacity: 0.8;
}

.button__link:active {
  opacity: 0.5;
}
