.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  background-color: #F9FBFD;
  cursor: pointer;
}

.button__link {
  display: flex;
  min-width: 210px;
  padding-top: 10px;
  padding-bottom: 7px;
  padding-right: 46px;
  padding-left: 46px;

  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #011C40;

  text-decoration: none;
}

.button__link:hover {
  opacity: 0.8;
}

.button__link:active {
  opacity: 0.5;
}
