@media  screen and (max-width: 1023px) {
  .card {
    width: 309px;
    height: 386px;
  }
}

@media  screen and (max-width: 767px) {
  .card {
    width: 270px;
  }
}

.card__img {
  height: 386px;
}

.card__img picture {
  height: 386px;
}


.card__img img {
  min-width: 260px;
  min-height: 386px;
  line-height: 0;
}

@media  screen and (max-width: 1023px) {
  .card__img img {
    width: 309px;
    height: 386px;
  }
}

@media  screen and (max-width: 767px) {
  .card__img img {
    width: 270px;
  }
}

.card__main-heading h3 {
  margin: 0;
  margin-top: -48px;
  padding-left: 30px;
  padding-right: 30px;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #F9FBFD;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  opacity: 1;
}

@media  screen and (max-width: 1023px) {
  .card__main-heading h3 {
    margin-top: -55px;
    padding-left: 34px;
  }
}

@media  screen and (max-width: 767px) {
  .card__main-heading h3 {
    margin-top: -44px;
    padding-left: 26px;
  }
}

.card__title {
  display: flex;
}

.card__title span {
  margin-top: -40px;

  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  color: #F9FBFD;
}

.card__heading h4 {
  margin: 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.card__description p {
  margin: 0;
  padding-bottom: 12px;

  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #D8D8D9;
}

@media  screen and (max-width: 1023px) {
  .card__description p {
    min-width: 237px;
  }
}


.card__side {
  max-width: 260px;
  min-height: 386px;
}

@media  screen and (max-width: 1023px) {
  .card__side {
    min-width: 309px;
    min-height: 386px;
  }
}

@media  screen and (max-width: 767px) {
  .card__side {
    min-width: 270px;
  }
}

.card__side--front {
  background-color: #00437c;
}


.card__side.card__side--back {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card__side--back {
  margin-top: -386px;
  padding-top: 71px;
  padding-bottom: 35px;
  padding-left: 25px;
  padding-right: 25px;

  visibility: hidden;

  color: #F9FBFD;
  background-color: #011C40;
  box-shadow: 0px 4px 35px rgba(1, 28, 64, 0.15);
}

@media  screen and (max-width: 1023px) {
  .card__side--back {
    padding-top: 70px;
  }
}

.card__wrapper-button {
  display: flex;
  min-width: 210px;
}

.card__link {
  align-self: flex-end;
}

.card__side--back {
  position: relative;
  z-index: 50;
  visibility: hidden;
}

.card:hover .card__side--back {
  visibility: visible;
}

.card__text {
  min-width: 208px;
}

@media  screen and (max-width: 1023px) {
  .card__text {
    max-width: 237px;
  }
}

.card__description--cost p {
  padding-bottom: 0;
}

/* .card__side--back {
  position: relative;
  z-index: 50;
  visibility: hidden;
  visibility: visible;
} */
