.catalog {
  padding-top: 112px;
  padding-left: 103px;
  padding-right: 100px;
  padding-bottom: 105px;

  background-color: #f9fbfd;
}

@media  screen and (max-width: 1023px) {
  .catalog {
    padding-top: 91px;
    padding-bottom: 70px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media  screen and (max-width: 768px) {
  .catalog {
    padding-right: 0px;
  }
}

@media  screen and (max-width: 767px) {
  .catalog {
    padding-top: 59px;
    padding-bottom: 35px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media  screen and (max-width: 325px) {
  .catalog {
    padding-right: 0;
  }
}

.catalog__wrapper-heading {
  display: flex;
  justify-content: center;
  padding-bottom: 31px;
}

@media  screen and (max-width: 1023px) {
  .catalog__wrapper-heading {
    justify-content: flex-start;
    padding-bottom: 49px;
    padding-left: 0;
  }
}

@media  screen and (max-width: 768px) {
  .catalog__wrapper-heading {
    padding-left: 183px;
  }
}

@media  screen and (max-width: 767px) {
  .catalog__wrapper-heading {
    padding-left: 0;
    padding-bottom: 28px;
  }
}

@media  screen and (max-width: 325px) {
  .catalog__wrapper-heading {
    padding-left: 6px;
  }
}

.catalog h2 {
  margin: 0;

  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #011C40;
}

@media  screen and (max-width: 1023px) {
  .catalog h2 {
    margin: 0 auto;

    font-size: 26px;
    line-height: 39px;
  }
}

@media  screen and (max-width: 768px) {
  .catalog h2 {
    margin: 0;
  }
}

@media  screen and (max-width: 767px) {
  .catalog h2 {
    margin: 0 auto;
    font-size: 24px;
    line-height: 36px;
  }
}

@media  screen and (max-width: 325px) {
  .catalog h2 {
    margin: 0;
  }
}

.catalog__list {
  min-width: 1160px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

@media  screen and (max-width: 1365px) {
  .catalog__list {
    min-width: 100%;
  }
}

@media  screen and (max-width: 1023px) {
  .catalog__list {
    justify-content: space-around;
  }
}

@media  screen and (max-width: 768px) {
  .catalog__list {
    justify-content: flex-start;
  }
}

@media  screen and (max-width: 767px) {
  .catalog__list {
    justify-content: space-around;
  }
}

@media  screen and (max-width: 630px) {
  .catalog__list {
    flex-direction: column;
    align-items: center;
  }
}

@media  screen and (max-width: 337px) {
  .catalog__list {
    flex-direction: flex-start;
    align-items: flex-start;
  }
}


.cards__item {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media  screen and (max-width: 1023px) {
  .cards__item {
    margin: 0;
    margin-right: 0;
    margin-bottom: 30px;
  }
}

@media  screen and (max-width: 768px) {
  .cards__item {
    margin-right: 30px;
  }
}

@media  screen and (max-width: 767px) {
  .cards__item {
    margin-right: 0;
  }
}
