.catalog {
  padding-top: 112px;
  padding-left: 103px;
  padding-right: 100px;
  padding-bottom: 101px;

  background-color: #E5E5E5;;
}

.catalog__wrapper-heading {
  display: flex;
  justify-content: center;
  padding-bottom: 32px;
}

.catalog h2 {
  margin: 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  color: #011C40;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.cards__item {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 13px;
  margin-bottom: 15px;
}
