.contacts {
  background-color: #f9fbfd;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
  padding-bottom: 113px;
  padding-left: 103px;
  padding-right: 103px;
}

@media  screen and (max-width: 1023px) {
  .contacts__wrapper {
    padding-top: 100px;
    padding-bottom: 93px;
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media  screen and (max-width: 767px) {
  .contacts__wrapper {
    flex-direction: column;

    padding-top: 60px;
    padding-bottom: 58px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.contacts__wrapper-text {
  max-width: 500px;
  padding-top: 77px;
}

@media  screen and (max-width: 1023px) {
  .contacts__wrapper-text {
    min-width: 354px;
    padding-top: 69px;
    padding-left: 30px;
  }
}

@media  screen and (max-width: 767px) {
  .contacts__wrapper-text {
    min-width: 290px;
    padding-top: 0;
    padding-left: 0;
  }
}

.contacts__map {
  position: relative;

  padding-right: 100px;

  overflow: hidden;
}

@media  screen and (max-width: 1289px) {
  .contacts__map {
    margin-right: 30px;
  }
}

@media  screen and (max-width: 1023px) {
  .contacts__map {
    margin-right: 0;
  }
}

@media  screen and (max-width: 767px) {
  .contacts__map {
    padding-right: 0;
  }
}

.contacts__map iframe {
  position: relative;
  z-index: 2;
  width: 560px;
  height: 306px;

  border: none;
}

@media  screen and (max-width: 1023px) {
  .contacts__map iframe {
    height: 335px;
  }
}

@media  screen and (max-width: 767px) {
  .contacts__map iframe {
    width: 100%;
    height: 316px;
  }
}

.contacts__map img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}

.contacts__map::before {
  content: "";

  position: absolute;
  top: 217px;
  left: 249px;

  width: 18px;
  height: 22px;

  background-image: url("../img/icon-map-pin.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 18px 22px;
}

@media  screen and (max-width: 1023px) {
  .contacts__map::before {
    top: 217px;
    left: 109px;
  }
}

@media  screen and (max-width: 767px) {
  .contacts__map {
    order: 1;
  }
}


.contacts__map img {
  line-height: 0;
}

.contacts__slogan {
  padding-bottom: 32px;
}

@media  screen and (max-width: 1023px) {
  .contacts__slogan {
    padding-bottom: 26px;
  }
}


.contacts__slogan span {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #011C40;
}

.contacts__address {
  padding-bottom: 20px;
  padding-left: 28px;
}

.contacts__address span {
  position: relative;

  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #011C40;
}

.contacts__address span::before {
  content: "";

  position: absolute;
  top: -5px;
  left: -28px;

  width: 18px;
  height: 22px;

  background-image: url("../img/icon-map-pin.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 18px 22px;
}

@media  screen and (max-width: 1023px) {
  .contacts__address span::before {
    top: 2px;
  }
}

.contacts__phone {
  position: relative;
  margin-left: 15px;
}

.contacts__phone a {
  padding-left: 13px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #011C40;

  text-decoration: none;
}

.contacts__phone a:hover {
  opacity: 0.8;
}

.contacts__phone a:active {
  opacity: 0.5;
}

.contacts__phone span:hover {
  border-bottom: 1px solid rgba(1, 28, 64, 0.8);
}

.contacts__phone span:active {
  border-bottom: 1px solid rgba(1, 28, 64, 0.5);
}

@media  screen and (max-width: 767px) {
  .contacts__phone {
    padding-bottom: 36px;
  }
}

.contacts__phone span::before {
  content: "";

  position: absolute;
  top: 3px;
  left: -14px;

  width: 18px;
  height: 18px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 18px 18px;
}

