.description {
  background-color: #f9fbfd;
}

.description__wrapper {
  display: flex;
  padding-right: 103px;
  padding-left: 103px;
}

@media  screen and (max-width: 1023px) {
  .description__wrapper {
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 92px;
  }
}

@media  screen and (max-width: 767px) {
  .description__wrapper {
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 65px;
  }
}

.description__wrapper-text h2 {
  margin: 0;

  padding-bottom: 22px;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #011C40;
}

@media  screen and (max-width: 1023px) {
  .description__wrapper-text h2 {
    padding-bottom: 16px;

    font-size: 26px;
    line-height: 36px;
  }
}

@media  screen and (max-width: 767px) {
  .description__wrapper-text h2 {
    padding-bottom: 14px;
    font-size: 24px;
    line-height: 34px;
  }
}


.description__wrapper-text p {
  max-width: 515px;
  margin: 0;

  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #011C40;
}

@media  screen and (max-width: 1023px) {
  .description__wrapper-text p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media  screen and (max-width: 767px) {
  .description__wrapper-text p {
    text-align: center;
    margin: 0 auto;
  }
}

@media  screen and (max-width: 575px) {
  .description__wrapper-text p {
    text-align: left;
    margin: 0;
  }
}

.description__wrapper-text {
  padding-top: 178px;
  padding-right: 40px;
  padding-bottom: 120px;
}

@media screen and (max-width: 1300px) {
  .description__wrapper-text {
    padding-top: 120px;
  }
}

@media  screen and (max-width: 1023px) {
  .description__wrapper-text {
    padding-right: 16px;
    padding-top: 90px;
    padding-bottom: 0;
  }
}

@media  screen and (max-width: 767px) {
  .description__wrapper-text {
    padding-top: 58px;
    padding-right: 0;
  }
}

@media  screen and (max-width: 1023px) {
  .description__wrapper-text h2 {
    padding-right: 103px;
  }
}

@media  screen and (max-width: 767px) {
  .description__wrapper-text h2 {
    padding-right: 0;
    text-align: center;
  }
}

@media  screen and (max-width: 355px) {
  .description__wrapper-text h2 {
    padding-right: 70px;
    text-align: left;
  }
}


@media  screen and (max-width: 1023px) {
  .description__wrapper-img img {
    width: 324px;
    height: 264px;
  }
}


@media  screen and (max-width: 767px) {
  .description__wrapper-img img {
    width: 290px;
    height: 186px;
    flex-shrink: 1;
  }
}

.description__wrapper-img {
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 44px;
  line-height: 0;
}

@media  screen and (max-width: 1023px) {
  .description__wrapper-img {
    padding-top: 100px;
    padding-bottom: 0;
    padding-left: 7px;
  }
}

@media  screen and (max-width: 767px) {
  .description__wrapper-img {
    display: flex;
    justify-content: center;
    padding-top: 33px;
    padding-left: 0;
  }
}
