.features {
  min-height: 562px;
  padding-top: 112px;
  padding-bottom: 119px;

  background-color: #E3ECF6;
  background-image: url("../img/landscape-2-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .features {
    background-image: url("../img/landscape-2-desktop@2x.jpg");
  }
}

@media screen and (max-width: 1023px) {
  .features {
    background-image: url("../img/landscape-2-tablet@1x.jpg");
  }
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .features {
    background-image: url("../img/landscape-2-tablet@2x.jpg");
  }
}

@media screen and (max-width: 767px) {
  .features {
    background-image: url("../img/landscape-2-mobile@1x.jpg");
  }
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .features {
    background-image: url("../img/landscape-2-mobile@2x.jpg");
  }
}

@media  screen and (max-width: 1023px) {
  .features {
    padding-top: 91px;
    padding-bottom: 100px;
  }
}

@media  screen and (max-width: 767px) {
  .features {
    padding-top: 60px;
    padding-bottom: 36px;
  }
}

.features__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 103px;
  padding-left: 103px;
}

@media  screen and (max-width: 1023px) {
  .features__wrapper {
    padding-right: 45px;
    padding-left: 45px;
  }
}

@media  screen and (max-width: 767px) {
  .features__wrapper {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.features__heading {
  display: flex;
  justify-content: center;
}

.features__heading h2 {
  margin: 0;
  padding-bottom: 48px;

  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #011C40;
}

@media  screen and (max-width: 1023px) {
  .features__heading h2 {
    font-size: 26px;
    line-height: 39px;
  }
}

@media  screen and (max-width: 767px) {
  .features__heading h2 {
    padding-left: 14px;
    padding-bottom: 31px;
    font-size: 24px;
    line-height: 36px;
  }
}

.features__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

@media screen and (min-width: 1367px) {
  .features__list {
    justify-content: space-around;
  }
}

@media  screen and (max-width: 767px) {
  .features__list {
    flex-direction: column;
    align-items: center;
  }
}

.list-features__item {
  max-width: 360px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 27px;
  background-color: #F9FBFD;
}

@media  screen and (max-width: 1023px) {
  .list-features__item  {
    max-width: 206px;
    padding-right: 13px;
    padding-left: 19px;
    padding-bottom: 18px;
  }
}

@media  screen and (max-width: 767px) {
  .list-features__item {
    margin-bottom: 30px;
    padding-right: 7px;
  }
}

.list-features__item--ship {
  margin-right: 20px;
}

@media  screen and (max-width: 1023px) {
  .list-features__item--ship {
    margin-right: 15px;
  }
}

@media  screen and (max-width: 767px) {
  .list-features__item--ship {
    margin-right: 0;
  }
}

.list-features__item--ticks {
  margin-left: 20px;
  margin-right: 20px;
}

@media  screen and (max-width: 1023px) {
  .list-features__item--ticks {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media  screen and (max-width: 767px) {
  .list-features__item--ticks {
    margin-left: 0;
    margin-right: 0;
  }
}

.list-features__item--boat {
  margin-left: 20px;
}

@media  screen and (max-width: 1023px) {
  .list-features__item--boat {
    margin-left: 15px;
  }
}

@media  screen and (max-width: 767px) {
  .list-features__item--boat {
    margin-left: 0;
  }
}

.list-features__item--ship .list-features__icon {
  padding-top: 30px;
  padding-bottom: 13px;
}

@media  screen and (max-width: 1023px) {
  .list-features__item--ship .list-features__icon {
    padding-top: 25px;
  }
}

.list-features__item--ticks .list-features__icon {
  padding-top: 35px;
  padding-bottom: 19px;
}

@media  screen and (max-width: 1023px) {
  .list-features__item--ticks .list-features__icon {
    padding-top: 29px;
  }
}

@media  screen and (max-width: 1023px) {
  .list-features__item--ticks .list-features__icon {
    padding-top: 27px;
  }
}

.list-features__item--boat .list-features__icon {
  padding-top: 35px;
  padding-bottom: 23px;
}

@media  screen and (max-width: 1023px) {
  .list-features__item--boat .list-features__icon {
    padding-top: 28px;
    padding-bottom: 20px;
  }
}

@media  screen and (max-width: 1023px) {
  .list-features__item--ship svg {
    height: 26px;
  }

  .list-features__item--ticks svg {
    height: 19px;
  }

  .list-features__item--boat svg {
    height: 13px;
  }
}

.list-features__item h3 {
  margin: 0;
  padding-bottom: 6px;

  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #011C40;
}

@media  screen and (max-width: 1023px) {
  .list-features__item h3 {
    line-height: 25px;
    padding-bottom: 10px;
  }
}

@media  screen and (max-width: 767px) {
  .list-features__item h3 {
    padding-bottom: 8px;
  }
}

.list-features__item p {
  margin: 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #011C40;
}
