.logo {
  margin-right: 40px;
  line-height: 0;
}

.page-header__logo-image {
  //fill: #F9FBFD;
}

@media screen and (max-width: 1023px) {
  .logo {
    margin-right: 25px;
  }

  .logo__image {
    width: 38px;
    height: 20px;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    margin-right: 0;
    margin-bottom: 30px;
    align-self: start;
  }
}

.logo-menu--closed {
  fill: #F9FBFD;
}

.logo-menu--opened {
  fill: #011C40;
}