.main-nav {
  display: flex;
}

.main-nav__toggle {
  margin: 0;
  padding: 0;
  display: none;
}

@media screen and (max-width: 767px) {

  .main-nav__toggle {
    position: absolute;
    top: 9.5px;
    right: 7px;
    z-index: 12;

    display: block;
    width: 40px;
    height: 40px;

    background-color: transparent;

    cursor: pointer;
    border: none;
  }

  .main-nav--closed .main-nav__toggle::before {
    content: "";

    position: absolute;
    top: 13px;
    right: 8px;

    width: 24px;
    height: 2px;

    background-color: #ffffff;
    box-shadow: 0 6px 0 0 #ffffff, 0 12px 0 0 #ffffff;
  }

  .main-nav--closed .main-nav__toggle:hover::before {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 6px 0 0 rgba(255, 255, 255, 0.8),
                0 12px 0 0 rgba(255, 255, 255, 0.8);
  }

  .main-nav--closed .main-nav__toggle:active::before {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 6px 0 0 rgba(255, 255, 255, 0.5),
                0 12px 0 0 rgba(255, 255, 255, 0.5);
  }

  .main-nav--opened .main-nav__toggle {
    top: 9.5px;
    right: 7px;


    &::before,
    &::after {
      content: "";

      position: absolute;
      top: 20px;
      right: 6px;

      width: 20px;
      height: 2px;

      background-color: black;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover::before,
    &:hover::after {
      opacity: 0.8;
    }

    &:active::before,
    &:active::after {
      opacity: 0.5;
    }
  }

  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--closed .main-nav__wrapper {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 299px;
    padding-top: 73px;
    padding-left: 15px;
    background-color: #E5E5E5;
    z-index: 10;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }
}

