.page-footer {
  background-color: #011C40;
}

.page-footer__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 52px;
  padding-bottom: 48px;
  padding-left: 103px;
  padding-right: 103px;
  background-color: #011C40;
}

@media screen and (max-width: 1023px) {
  .page-footer__wrap {
    padding-top: 48px;
    padding-bottom: 50px;
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media  screen and (max-width: 767px) {
  .page-footer__wrap {
    align-items: start;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media  screen and (max-width: 767px) {
  .page-footer__wrap {
    align-items: center;
    padding-left: 40px;
  }
}

@media  screen and (max-width: 400px) {
  .page-footer__wrap {
    align-items: start;
    padding-left: 15px;
  }
}


.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media  screen and (max-width: 767px) {
  .page-footer__wrapper {
    flex-direction: column;
    margin-bottom: 13px;
  }
}
