.page-header {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 103px;
  padding-right: 70px;
}

@media (min-width: 768px) and (max-width: 1023.98px) {
  .page-header {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media (min-width: 768px) and (max-width: 1023.98px) {
  .page-header__logo-image {
    width: 38px;
    height: 20px;
  }
}

@media (max-width: 846px) {
  .page-header__logo {
    padding-top: 11px;
    padding-bottom: 0;
  }

  .page-header__logo-image {
    width: 66px;
    height: auto;
  }
}
