.social__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .social__list {
    margin-left: -60px;
  }
}

@media screen and (max-width: 400px) {
  .social__list {
    margin-left: 0;
  }
}


.social__item {
  line-height: 0;
}

.social__link {
  margin-left: 33px;
}

.social__link:hover {
  opacity: 0.8;
}

.social__link:active {
  opacity: 0.5;
}

.social__link--facebook {
  margin-left: 0;
}

@media screen and (max-width: 1023px) {
  .social__link {
    margin-left: 23px;
  }

  .social__link--facebook svg {
    width: 9px;
    height: 16px;
  }

  .social__link--instagram svg {
    width: 16px;
    height: 16px;
  }

  .social__link--twitter svg {
    width: 16px;
    height: 13px;
  }
}

.social__link {
  line-height: 0;
  color: #F9FBFD;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .social__link--facebook {
    margin-left: 0;
  }
}

